body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2d2d2d, #b3b3b3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
{
    margin-top: 60px;
    width: 240px;
    padding: 10px 18px;
    border: 1.3px solid #ffffffa8;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 15px;
}

  h1 {
    margin-top: 180px;
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
}
{
    width: 230px;
    height: 10px;
    background: red;
    margin: 15px auto;
    border-radius: 3px;
}
